/*html *
{
    
   font-family: 'Roboto' !important;
}
*/
header {
    margin-top: 70px;
    margin-left: 100px;
    padding-right: 165px;
}

body {
    font-family: 'Roboto', sans-serif;
    background-image: url('bg_cadastro_completo.jpg');
    background-repeat: no-repeat;
    background-attachment: scroll;
    background-size: cover;
    background-position: left top;
    min-height: 1500px;
    min-width: 500px;
    font-size: 22px;
}

footer {
    font: 14px;
    font-family: Arial, Helvetica, sans-serif;
}

h1 {
    font-family: 'Paytone One', sans-serif;
    font-size: 25px;
    margin-left: 300px;
    color: red;
}

.text-p {
    margin-left: 300px;
}

.navbar {
    width: 215vh;
    height: 7px;
    margin-top: 5px;
    background-color: rgb(38, 7, 172);
}

.cards {
    display: grid;
    grid-template-columns: 1.5fr 1fr;
    grid-auto-rows: 250px;
}


section {
    background: white;
    border: 1px solid #000000;
    border-radius: 10px;
    padding: 15px;
    width: 310px;
    height: 200px;
    margin: auto;
    box-shadow: 5px 5px 10px rgb(52, 48, 48);
    overflow: hidden;
}

.jogo1 {
    margin-right: 60px;
}

.jogo2 {
    margin-left: 15px;
}

.jogo3 {
    margin-right: 60px;
}

.jogo4 {
    margin-left: 15px;
}

.jogo5 {
    margin-right: 60px;
}

footer {
    color: black;
    text-align: center;
    font-style: italic;
    position: static;
    width: 100%;
    color: rgb(0, 0, 0);
    width: 100%;
    height: 2.5rem; 
    padding-top: 90px;
    margin-left: 100px;   
}

.btn_avalia {
    margin-left: 45vh;
    margin-top: 10px;
    margin-bottom: -100px;
    background-color: black;
    color: white;
    width: 200px;
    height: 45px;
    border-radius: 31px;
    font-size: 16px;
    
}
.btn_avalia:hover {
    background-color: #595959;
}

.btn_avalia:active {
    background-color: #ff0000;
}

.containerCard {
    align-items: center;
    justify-content: center;
    margin-left: 10px;
}

.iconCard {
    max-width: 55%;
    max-height: 25%;
    float: left;
}
.iconCard2 {
    margin-left: -20px;
    float: right;
}


.textCard {
    margin-top: -30px;
    margin-bottom: -25px;
    margin-left: 15%;
    padding-left: 20px;
    padding-top: 0;
    float: none;
    color: #ff0000;
}

.textCard2 {
    font-size: 20px;
    margin-bottom: -8px;
    padding-left: 60px;
    padding-top: 0;
    float: none;
}

.textCard3 {
    padding-left: 7%;
}

.image-icon {
    margin-left: -10px;
    border-radius: 10px;
    border: 1px solid #000000;
}

.buttonCard {
    background-color: #000000;
    color: #ffffff;
    
    border: none;
    border-radius: 50px;
    padding: 7px 24px;
    text-align: center;
    text-decoration: none;
    display: inline-block;
    /* font-size: 16px; */
    margin: 4px 2px;
    margin-top: 10px;
    margin-bottom: -10px;
    }

button:hover {
    background-color: #595959;
}

button:active {
    background-color: #ff0000;
}

p {
    font-size: 15px;
}

h6 {
    margin-top: -15px;
    font-family: Arial, sans-serif;
    font-weight: normal;
}

.rating {
    unicode-bidi: bidi-override;
    direction: rtl;
    margin-top: -40px;
}

.text-body{
    margin-left: 100px;
    padding-right: 165px;
}

