body {
    font: normal 16pt Arial;
    background-image: url('bg_cadastro_completo.jpg');
    /* Substitua 'sua_imagem.jpg' pelo caminho até a sua imagem */
    background-repeat: no-repeat;
    background-attachment: scroll;
    background-size: cover;
    background-position: left top;
    min-height: 1500px;
    min-width: 1000px;
}
h1{
    font-family: 'Paytone One', sans-serif;
    font-size: 25px;
    margin-left: 300px;
    color: red;
}
p{
    margin-left: 300px;
}
.navbar {
    width: 215vh;
    height: 7px;
    margin-top: 5px;
    background-color: rgb(38, 7, 172);
}

.cards {
    display: grid;
    grid-template-columns: 1.5fr 1fr;
    grid-auto-rows: 250px;
}

section {
    background: white;
    border-radius: 10px;
    padding: 15px;
    width: 310px;
    height: 200px;
    margin: auto;
    box-shadow: 5px 5px 10px rgb(52, 48, 48);
}

.jogo1 {
    margin-right: 60px;
}

.jogo2 {
    margin-left: 15px;
}

.jogo3 {
    margin-right: 60px;
}

.jogo4 {
    margin-left: 15px;
}

.jogo5 {
    margin-right: 60px;
}

footer {
    color: white;
    text-align: center;
    font-style: italic;
}